@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
 font-family: "Barlow Condensed", sans-serif;
}
p{
  font-family: "DM Sans", sans-serif;  
}
h2, .cric{
font-family: "Barlow Condensed", sans-serif;
text-transform: uppercase;
}

:root {
  --font-heading: var(--font-barlow-condensed);
  --font-sans: var(--font-dm-sans);
}

:root {
  font-family: var(--font-dm-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-barlow-condensed), sans-serif;
}
